@font-face {
    font-family: "QoC";
    src: url("fonts/QueenOfClubs.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Thin.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Regular.ttf");
    font-weight: 400;
}

body {
    background-color: black;
    color: white;
}

body.faq {
    background-color: white;
    color: black;
}

.container {
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid white; */
}

.content {
    /* width: ; */
    padding: 100px 0;
    background-color: white;
    color: black;
    /* margin-top: -6px; */
}

.h1 {
    width: 100%;
    margin-top: 400px;
    padding: 0;
    z-index: -1;
}

.h1-2 {
    max-width: 100%;
    margin-top: 400px;
    padding: 0;
    display: flex;
    /* border: 1px solid white; */
}

h2 {
    font-family: "QoC";
    font-size: 46px;
    /* border: 1px solid black; */
    margin: 0 12px;
}

h2.try-it_h2 {
    width: fit-content;
    padding: 0 8px;
    background-color: black;
    color: white;
}

.fit_try-it {
    width: 50%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    color: white;
    padding-top: 10px;
}

header p {
    font-family: "QoC";
    font-size: 28px;
    margin: 0;
    width: 55%;
}

header nav {
    float: right;
    display: flex;
    justify-content: space-between;
    width: 20%;
    
}

header nav ul {
    list-style: none;
    font-family: "Roboto";
    font-size: 14px;
    display: grid;
    gap: 6px;
    margin: 0;
    padding: 0;
    height: fit-content;
}

header nav ul li {
    margin: 0;
    height: 16px;
    width: 70px;
}

header nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: 200;
}

.faq header nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: 300;
}

header nav ul li a:hover{
    font-weight: 400;
}

header .but {
    width: 25%;
}

header .but button {
    width: 108px;
    height: 32px;
    padding: 8px, 16px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    border-radius: 18px;
    background-color: white;
    border: none;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

header .but button:hover {
    width: 122px;
    transition: 300ms ease;
}

header .but button .arrow {
    display: none;
}

header .but button:hover .arrow {
    display: block;
    position: relative;
    top: 1px;
}

/* gallery.html */

main .gallery {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

main .h-gallery {
    display: flex;
    justify-content: center;
}

main .h-gallery .scroll {
    display: block;
    object-fit: contain;
}

main .h-gallery .scroll:active {
    transform: scale(0.9);
    transition: 50ms ease;
}

main .photos {
    display: flex;
    overflow: scroll;
    width: 90%;

    margin: 0 auto;
}

main .photos figure {
    margin: 10px;
}

/* price.html */

main .pricelist {
    max-width: 36%;
    margin: 0 auto;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

main .pricelist-item {
    display: flex;
    justify-content: space-between;
}

main .pricelist-item_name {
    width: 100%;
}

main .pricelist-item_name span {
    display: flex;
    white-space: nowrap;
}

main .pricelist-item_name span::after {
    content: '';
    position: relative;
    bottom: 5px;
    width: 100%;
    margin: 0 5px;
    border-bottom: 2px dotted rgba(0, 0, 0, 0.5);
}

main .photos figure figcaption {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 14px;
}

/* price.html */

main .line {
    padding: 140px 0;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

main .line figure {
    text-align: center;
    margin: 0;
}

main .line figure figcaption::before{
    content: '';
    position: relative;
    bottom: 26px;
    width: 1500%;
    border-top: 3px solid black;
}

main .line figure figcaption {
    font-family: "QoC";
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .line_meaning {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

main .line_meaning section h2 {
    margin: 0;
}

main .line_meaning section p {
    margin: 0;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
}

main .try-it_ending {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .try-it_ending p {
    margin: 80px 0 12px 0;
    text-align: center;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 14px;
}

main .try-it_ending button {
    width: 218px;
    height: 37px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    border-radius: 20px;
    background-color: white;
    border: 2px solid black;
}

main .try-it_ending button:hover {
    color: white;
    background-color: black;
    border: 2px solid black;
    transition: 300ms ease;
}

footer {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
}