@font-face {
    font-family: "QoC";
    src: url("font/QueenOfClubs.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("font/Roboto/Roboto-Thin.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "Roboto";
    src: url("font/Roboto/Roboto-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url("font/Roboto/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("font/Roboto/Roboto-Medium.ttf");
    font-weight: 500;
}

body {
    background-color: black;
    color: white;
    margin: 0;
}

body.faq {
    background-color: white;
    color: black;
    
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.content {
    padding: 100px 0;
    background-color: white;
    color: black;
}

.h1 {
    width: 100%;
    margin-top: 400px;
    padding: 0;
    z-index: -1;
}

.h1-2 {
    max-width: 100%;
    margin-top: 400px;
    padding: 0;
    display: flex;
    /* border: 1px solid white; */
}

.faq hr {
    height: 30px;
    background-color: black;
    opacity: 100%;
    border: none;
    position: relative;
    padding: 0;
    margin: 0;
    bottom: 24px;
}

h2 {
    font-family: "QoC";
    font-size: 46px;
    /* border: 1px solid black; */
    margin: 0 12px;
}

h2.try-it_h2 {
    width: fit-content;
    padding: 0 8px;
    background-color: black;
    color: white;
}

.fit_try-it {
    width: 50%;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    gap: 20px;
    color: white;
    padding-top: 10px;
}

.faq header {
    padding: 0;
    /* margin: 0; */
    padding-top: 10px;
}

header p {
    grid-column-start: 1;
    grid-column-end: 2;
    font-family: "QoC";
    font-size: 28px;
    margin: 0;
}

.faq header p {
    color: black;
}

header nav.social {
    grid-column-start: 7;
    grid-column-end: 8;
}

header nav.real-nav {
    grid-column-start: 9;
    grid-column-end: 10;
}

.faq nav {
    padding: 0;
    margin: 0;
    border: 1px solid white;
    float: left;
}

ul {
    list-style: none;
    font-family: "Roboto";
    font-size: 14px;
    display: grid;
    gap: 6px;
    margin: 0;
    padding: 0;
    height: fit-content;
}

.faq li {
    margin: 0;
    padding: 0;
}

.faq a {
    font-family: "Roboto";
    font-size: 14px;
    display: grid;
    gap: 6px;
    margin: 0;
    padding: 0;
    height: fit-content;
    color: black;
    text-decoration: none;
    font-weight: 300;
}

li {
    margin: 0;
    height: 16px;
    width: 70px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: 200;
}

a:hover{
    font-weight: 400;
}

header .but {
    grid-column-start: 11;
    grid-column-end: 13;
}

header .but button {
    width: 108px;
    height: 32px;
    padding: 8px, 16px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    border-radius: 18px;
    background-color: white;
    border: none;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.faq header .but button {
    width: 108px;
    height: 32px;
    padding: 8px, 16px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    border-radius: 18px;
    background-color: black;
    color: white;
    border: none;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

header .but button:hover {
    width: 122px;
    transition: 300ms ease;
}

header .but button .arrow {
    display: none;
}

header .but button:hover .arrow {
    display: block;
    position: relative;
    top: 1px;
}

/* gallery.html */

main .gallery {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

main .h-gallery {
    display: flex;
    justify-content: center;
}

main .h-gallery .scroll {
    display: block;
    object-fit: contain;
}

main .h-gallery .scroll:active {
    transform: scale(0.9);
    transition: 50ms ease;
}

main .photos {
    display: flex;
    overflow: scroll;
    width: 90%;

    margin: 0 auto;
}

main .photos figure {
    margin: 10px;
}

/* price.html */

main .pricelist {
    max-width: 36%;
    margin: 0 auto;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

main .pricelist-item {
    display: flex;
    justify-content: space-between;
}

main .pricelist-item_name {
    width: 100%;
}

main .pricelist-item_name span {
    display: flex;
    white-space: nowrap;
}

main .pricelist-item_name span::after {
    content: '';
    position: relative;
    bottom: 5px;
    width: 100%;
    margin: 0 5px;
    border-bottom: 2px dotted rgba(0, 0, 0, 0.5);
}

main .photos figure figcaption {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 14px;
}

/* try-it.html */

main .line {
    padding: 140px 0;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

main .line figure {
    text-align: center;
    margin: 0;
}

main .line figure figcaption::before{
    content: '';
    position: relative;
    bottom: 26px;
    width: 1500%;
    border-top: 3px solid black;
}

main .line figure figcaption {
    font-family: "QoC";
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .line_meaning {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

main .line_meaning section h2 {
    margin: 0;
}

main .line_meaning section p {
    margin: 0;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
}

main .try-it_ending {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .try-it_ending p {
    margin: 80px 0 12px 0;
    text-align: center;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 14px;
}

main .try-it_ending button {
    width: 218px;
    height: 37px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    border-radius: 20px;
    background-color: white;
    border: 2px solid black;
}

main .try-it_ending button:hover {
    color: white;
    background-color: black;
    border: 2px solid black;
    transition: 300ms ease;
}

/* faq */

.faq-content {
    width: 70%;
    margin: 0 auto;
    padding: 100px 0;
}

.faq header li {
    margin: 0;
}

.faq main li {
    white-space: nowrap;
    font-weight: 300;
    font-size: 16px;
    list-style: disc;
    margin-left: 30px;
}

.faq main button {
    color: black;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.mb-0 {
    display: flex;
    justify-content: space-between;
    font-size: 32px;
}

.card {
    border-top: 3px solid black;
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

#cardLast {
    border-bottom: 3px solid black;
}

.card h2 {
    padding: 0;
    margin: 0;
}

.card-header {
    background-color: white;
    border: none;
    padding: 8px;
}

.card-body {
    padding: 0;
    padding-bottom: 24px;
    padding-left: 8px;
}

footer {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
}